
/*div{

    background-color: lightblue;
}*/
body{
background-color: #ff454f;

}
.head>h1 {

    text-align: center;
    color: white;
    width : 900px;
   
    padding: 20px ;
    margin : 0 auto;
    margin-top: 200px;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;

}
.head2>h1{
    text-align: center;
    color: white;

    width : 400px;
    padding: 20px ;
    margin : 0 auto;
    margin-top: 80px;
    font-size: 1em;


}
#example1{
    font-size: 2em;

}