body {
  background-color: #ff454f;
}

.text {
  margin: 0 auto;
  padding: 20px;
  color: white;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

#quote {
  width: 900px;
  margin-top: 200px;
  font-size: 40px;
}

#author {
  width: 400px;
  margin-top: 80px;
  font-size: 25px;
}
